.api-recorder-resize-handler{
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    cursor: ns-resize;
    z-index: 10001;
    user-select: none;
    background: var(--primary-color,#1668dc);
    transition: all 0.2s ease-in;
  }

  .api-recorder-resize-handler:hover{
    opacity: 1;
    height: 6px;
  }
 

 .apirecorder-drawer-content-wrapper{
    transition: height 0s!important;
  }

  .api-recorder-resize-handler {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    cursor: ns-resize;
    z-index: 10001;
    user-select: none;
    background: var(--primary-color, #1668dc);
    transition: all 0.2s ease-in;
  }
  
  .api-recorder-resize-handler:hover {
    opacity: 1;
    height: 6px;
  }
  
  .apirecorder-drawer-content-wrapper {
    transition: height 0s !important;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #9492929f;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #1f1f1f;
  }
  